html {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.myFirstDiv {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 20px;
}

h2 {
    letter-spacing: 20px;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 2px 2px 2px;
}